body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* background-color: #f8f8f8; */
}

.expert-card-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.expert-card {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.expert-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
  border: 2px solid #feb100;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 300px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.expert-card ul:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.expert-card li {
  margin-bottom: 10px;
}

/* Responsive Design for Expert Cards */
@media (max-width: 768px) {
  .expert-card {
      flex-direction: column;
      align-items: center;
  }

  .expert-card ul {
      width: 90%;
      margin: 10px auto;
  }

  .expert-card li {
    text-align: center;
  }

  .expert-card h2 {
    text-align: center;
  }
}