body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

section {
  padding: 40px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.hero-section {
  display: flex;
  align-items: center;
  padding: 60px;
}

.hero-content {
  flex: 1;
  margin-right: 40px;
}

.hero-title {
  font-size: 3em;
  margin-bottom: 10px;
  color: #feb100;
}

.hero-subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.hero-description {
  margin-bottom: 30px;
  color: white;
}

.hero-buttons {
  display: flex;
}

.hero-cta {
  background-color: #062547;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid white;
  color: #feb100;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.hero-cta:hover {
  background-color: #ffffff;
  color: #062547;
  border: 3px solid #feb100;

}

.profile-pic {
  width: 250px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.expertise ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.expertise h2 {
  color: #ffffff;
}

.expertise li {
  display: inline-block;
  margin: 0 15px;
  padding: 10px;
  border: 2px solid #feb100;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.portfolio h2 {
  color: #ffffff;
}

.portfolio-card1, .portfolio-card2, .portfolio-card3 {
  width: 300px;
  border: 2px solid #feb100;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-image: url('/project_x_icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card3:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card1 a {
  text-decoration: none;
  color: white;
}

.portfolio-card2 a {
  text-decoration: none;
  color: white;
}

.portfolio-card3 a {
  text-decoration: none;
  color: white;
}

.reachout form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.reachout h2 {
  color: #ffffff;
}

.reachout input,
.reachout textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #feb100;
  border-radius: 5px;
  font-size: 1em;
}

.reachout textarea{
  font-family: 'Arial', sans-serif;
}

.reachout p {
  text-align: center;
}

.reachout button {
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  border: 2px solid white;
  color: #feb100; 
  padding: 10px 20px;
  text-decoration: none;
  font-size: large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin: 0 10px;
}

.reachout button:hover {
  background-color: #062547;
}

/* Responsive Design - Example for smaller screens */
@media (max-width: 768px) {
  .hero-section {
      flex-direction: column;
      text-align: center;
  }

  .hero-content {
      margin-right: 0;
      margin-bottom: 30px;
  }

  .profile-pic {
      width: 200px;
      height: 200px;
  }

  .portfolio-card {
      width: 90%;
      margin: 10px auto;
  }

  .expertise li {
    display: block;
    margin: 10px 0;
  }
}
