body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
  justify-content: center;
}

.portfolio-card1 {
  width: 300px;
  border: 2px solid #feb100;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-image: url('/project_x_icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .portfolio-card2 {
  width: 300px;
  border: 2px solid #feb100;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-image: url('/guess_game.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card3 {
  width: 300px;
  border: 2px solid #feb100;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-image: url('/perfume_card_icon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card4 {
  width: 300px;
  border: 2px solid #feb100;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-image: url('/sircole_site.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card5 {
  width: 300px;
  border: 2px solid #feb100;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-image: url('/first-react-work.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card6 {
  width: 300px;
  border: 2px solid #feb100;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-image: url('/card-6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card3:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card4:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card5:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card6:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.portfolio-card1 a {
  text-decoration: none;
  color: white;
}

.portfolio-card2 a {
  text-decoration: none;
  color: white;
}

.portfolio-card3 a {
  text-decoration: none;
  color: #ffffff;
}

.portfolio-card4 a {
  text-decoration: none;
  color: white;
}

.portfolio-card5 a {
  text-decoration: none;
  color: white;
}

.portfolio-card6 a {
  text-decoration: none;
  color: white;
}
